body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-around;
}
.header-link {
    display: flex;
    gap: 32px;
}
#top {
    display: flex;
    gap: 40px;
}
#left-hand-top {
    display: flex;
    flex-direction: column;
}
#top-mid {
    display: flex;
    flex-direction: column;
}
#top-mid-box-row {
    display: flex;
    gap: 16px;
}
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery-photo {
    border: 5px solid blue
}
#mid-bottom {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    background-color: rgb(215, 212, 212);
}